.contact-wrapper,
.cart-wrapper {
    font-family: Tahoma;
    font-size: 15px;
    color: #f0f8ff;
}

.cart-wrapper {
    text-align: right;
}

.logo-wrapper {
    margin-top: 10px;
}

.nav-wrapper {
	text-align: center;
}

.header-nav ul {
    list-style: none;
}

.header-nav li {
    display: inline-block;
    font-family: "Myriad Pro Light";
}

.header-nav li a:hover {
    color: #3fa02f;
}

.header-nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #f0f8ff;
}

.search-wrapper {
    text-align: right;
    margin-top: 20px;
}

.search-textbox {
	border: 0;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    margin-right: -4px;
}

.search-button {
	border: 0;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    background-color: #3fa02f;
    color: #f0f8ff;
}

/* .line-break {
    width: 100%;
    margin: 50px 0 5px 0px;
} */

.container-slider {
    position: relative;
    display: inline-block;
}

.header-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 245px;
    text-align: center;
    color: #f0f8ff;
    margin: auto;
}

.header-text p {
    font-size: 17px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.order-button {
    background-color: #3fa02f;
    border-radius: 25px;
    padding: 12px;
    font-size: 17px;
    border: 0;
    font-family: Verdana;
    letter-spacing: 1.5px;
    cursor: pointer;
    color: #f0f8ff;
    padding: 12px 30px;
}

.container-about-us {
    margin-top: -4px;
    text-align: center;
}

.about-text-wrapper  {
    display: inline-block;
    background-image: url("../images/about-us-bg.jpg");
    padding: 0;
    position: relative;
}

.about-text {
    max-width: 85%;
    text-align: center;
    margin: auto;
}

.about-text p {
    font-size: 17px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #525252;
}

.about-image-wrapper {
    background-image: url("../images/about-us-highlight.jpg");
}

.about-text-wrapper,
.about-image-wrapper {
    min-height: 360px;
    background-size: cover;
    background-position: center;
}

.prod-title {
    text-align: center;
}

.prod {
    text-align: center;
    font-family: Arial, sans-serif;
    max-width: 300px;
    color: #525252;
}

.prod p {
    font-size: 14px;
}

.prod-name,
.prod-desc,
.prod-price{
    padding: 0 15px;
}

.rating,
.add-cart-button{
    margin: 10px;
}

.rating {
    color: #EFDD09;

}

.add-cart-button {
    display: inline-block;
}

/* .prod-qty,
.submit-cart {
    border: 0;
    padding: 14px 20px;
} */

.prod-qty {
    border: 1px solid #b7b4b4;
    border-radius: 35px 0 0 35px;
    padding: 14px;
    width: 10%;
    margin-right: -2px;
}

.submit-cart {
    border-radius: 0 35px 35px 0;
    border: 0;
    padding: 15px;
    background-color: #3fa02f;
    color: #f0f8ff;
    cursor: pointer;
}

.top-footer-container {
    background-image: url("../images/newsletters-bg.jpg");
    padding: 10px 0;
    margin-top: 30px;
}

.subscribe-wrapper {
	color: #f0f8ff;
	text-align: left;
}

.email-wrapper {
    margin-top: 10px;
    text-align: right;
}

.subscribe-textbox {
    border-radius: 35px 0 0 35px;
    border: none;
    width: 45%;
    height: 20px;
    padding: 12px 40px 11px 18px;
    margin: 0px -30px;
    font-family: Verdana;
    font-style: italic;
    letter-spacing: 1px;
}

.subscribe-button {
    border: 0;
    padding: 14px 55px;
    border-radius: 35px;
    font-family: Verdana;
    cursor: pointer;
    color: #f0f8ff;
    background-color: #3fa02f;
}

.middle-footer-container {
    background-image: url("../images/footer-bg.jpg");
    background-repeat: repeat;
}

.middle-footer-container h3{
	color: #f0f8ff;
}

.bottom-footer {
    background-color: #252323;
    color: #737373;
    padding: 25px 0;
}

.pay-method-wrapper {
    text-align: right;
}

.copyright-wrapper p {
    margin: 5px 0px 0 0;
    font-family: "Myriad Pro Light";
    font-weight: lighter;

}

.footer-menu,
a{
    color: #9a9a9a;
    list-style: none;
    font-family: "Myriad Pro Light";
    padding: 0;
    line-height: 40px;
    text-decoration: none;
}

.footer-menu i {
    color: #3fa02f;
}

.icon {
    width: 1em;
}

header {
    position: absolute;
    width: 100%;
    top: 0px;
    color: #f0f8ff;
    z-index: 1;
}

h2 {
    font-family: Georgia, serif;
    color: #525252;
}

body{
    margin: 0;
}

main img {
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: 5%;
}

/** Grid System **/

.container {
    width: 1240px;
    margin: auto;
}

.container-fluid{
    width: 100%;
}

.row {
    display: table;
    clear: both;
    margin: auto;
    width: 100%;
}

.half {
    width: 50%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}

.quarter {
    width: 25%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}

.third {
    width: 33.33%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}

/** Responsive **/
/** Breakdown: 1400px - 1200px - 992px - 768px - 576px - 480px **/

@media only screen and (max-width: 1200px) {
    .container{
        width: 100%;
    }

    header {
        background-color: #000000;
        width: 100%;
        position: static;
    }

    .search-wrapper{
        margin: 0 0 10px 0;
    }

    .search-textbox {
        width: 50%;
    }

    .nav-wrapper {
        width: 50%;
    }

    nav ul {
        margin: 0;
    }

    .container-slider {
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .logo-wrapper{
        width: 100%;
        text-align: center;
        padding: 0;
        box-sizing: border-box;
    }

    .search-wrapper {
        width: 50%;
    }

    .search-wrapper input{
        width: 70%;
    }

    .nav-wrapper {
        width: 50%;
    }

    nav ul li {
        text-align: center;
        display: list-item;
        border-bottom: 1px solid #f0f8ff;
        width: 100%;
    }

    .container-slider {
        width: 100%;
    }

}